<!DOCTYPE html>
<html>
<head>
    <title>StranChat.com</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/Stylesheet3.css" />
</head>
<body>
<section class="flexbox">
    <nav>
        <div class="container-fluid">
            <a href="/"><img src="/stylesheets/b.png" id="imgHeading" class="d-inline-block align-top" alt="" /><h1 id="navbarHeading"> StranChat.com </h1></a>
        </div>
    </nav>
    <div class="mainChat">

        <div class="container" id="pages">
            <h3><u>About</u></h3>
			<hr>
            <p>
                StranChat is a text based chat application that connects you to people from all over the world anonymously.
                Once you click on the “Start Chat” button, a user will be randomly chosen and will be connected to you for one-on-one conversation.
                You can have interesting conversations, share pictures and meet different people without having to reveal any of your personal information like you would have to do on other social networks. You do not have to worry about other privacy concerns as well since we do not store any kind of chat logs. It is an alternate to other popular sites like Omegle, Chatroulette, 7strangers etc but with additional feature of sending/receiving images.
            </p>
            <p>
                You might be thinking that the idea of random and anonymous chat is not a new one and has been implemented before (Chatroulette, Omegle, 7strangers etc.), so why make another such application? Well to be honest, this started as a personal project to learn node js, socket.io and responsive web design. And the best way to learn any technology is by doing projects, so I thought what could be easier than a basic chat application. Once the application was complete, I thought why not take a step further and host it and learn a bit about SEO as well in the process.
            </p>
            <p>
                As I mentioned above, this started as a learning project, so I will be sharing the <a href="https://github.com/varmaarp/chat-application"><b>GitHub link</b></a> for the same if anyone wants to view, review or edit the code. The code is not perfect by any means and any changes/suggestions to modify it are welcome. I hope to learn from any errors which I might have committed while making this.
            </p>
            <p>
                For everyone else who is here just to pass some time, what are you waiting for? <a href="/chat"><strong>Click here </strong></a> and have a great time chatting!
            </p>
        </div>
    </div>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12 col-sm-9" id="left">
                    <p>Copyright © <a href="/">StranChat.com </a> | <a href="/about">About</a> | <a href="/privacy">Privacy & Terms</a> | <a href="/contact">Contact Us</a></p>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-3" id="right">
                    <a href="https://www.facebook.com/StranChat-195886427555106/"><i class="fa fa-facebook-square social"></i></a>
                    <a href="https://plus.google.com/b/109632010371057696281/109632010371057696281"><i class="fa fa-google-plus-square social"></i></a>
                    <a href="mailto:StranChat@gmail.com"><i class="fa fa-envelope-square social"></i></a>
                    <a href="https://github.com/varmaarp/chat-application"><i class="fa fa-github social"></i></a>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
