<!DOCTYPE html>
<html>
<head>
    <title>StranChat.com</title>
    <meta charset="utf-8" />

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/stylesheets/Stylesheet3.css" />
</head>
<body>
<section class="flexbox">
    <nav>
        <div class="container-fluid">
            <a href="/"><img src="/stylesheets/b.png" id="imgHeading" class="d-inline-block align-top" alt="" /><h1 id="navbarHeading"> StranChat.com </h1></a>
        </div>
    </nav>
    <div class="mainChat">

        <div class="container" id="pages">
            <h3><u>Contact Us</u></h3>
            <hr>
            <p>
                Feel free to contact us with any questions or suggestions you may have at <b>StranChat@gmail.com</b>
            </p>

        </div>
    </div>


    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-xs-12 col-sm-9" id="left">
                    <p>Copyright © <a href="/">StranChat.com </a> | <a href="/about">About</a> | <a href="/privacy">Privacy & Terms</a> | <a href="/contact">Contact Us</a></p>
                </div>
                <div class="col-md-3 col-xs-12 col-sm-3" id="right">
                    <a href="https://www.facebook.com/StranChat-195886427555106/"><i class="fa fa-facebook-square social"></i></a>
                    <a href="https://plus.google.com/b/109632010371057696281/109632010371057696281"><i class="fa fa-google-plus-square social"></i></a>
                    <a href="mailto:StranChat@gmail.com"><i class="fa fa-envelope-square social"></i></a>
                    <a href="https://github.com/varmaarp/chat-application"><i class="fa fa-github social"></i></a>
                </div>
            </div>
        </div>
    </footer>
</section>
</body>
</html>
