<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Chat Application</title>

    <script type="text/javascript" src="/javascripts/jquery/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/stylesheets/main.css" />

</head>
<body>
    <div class="top">
        <div class="page-header">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#"><img src="/stylesheets/b.png" height=40 class="d-inline-block align-top" alt="" /><span id="company" style="font-size:30px"> StranChat.com </span></a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container">
            <div class="text-center">
                <h1 id="heading">StranChat</h1>
            </div>
            <div class="text-center home-message">
                <p>StranChat is a perfect place to Chat with Strangers <span style="font-weight:bold">anonymously</span>.</p>
                <p>Just click on "Start Chat" and connect to people from all over the world!</p>
            </div>
            <div class="text-center" id="startChat-button">
                <a href="/chat" class="startChat-button">Start Chat</a>
            </div>
        </div>
    </div>
    <footer class="footer">
        This is a footer
    </footer>

</body>
</html>
