<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Chat</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <div class="chat">
        <input type="text" class="chat-name" placeholder="Enter your name">
        <div class="chat-messages"></div>
        <textarea class="chat-textarea" placeholder="Type your message here"></textarea>
        <div class="chat-status">Status: <span>Idle</span></div>
    </div>
</body>
</html>