html {
    height:100%;
    width:100%;
}

body {
    background-color: #390909;
    height: 100%;
    width:100%;  
}

.top{
    background-image:url("i.png");
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}

.startChat-button{
    margin-top:2%;
    background-color:black;
    color: white;
    border-radius: 8px;
    font-size: 24px;
    padding:10px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    cursor:pointer;
}

.startChat-button:hover{
    color:white;
    text-decoration:none;
}
.home-message{
    font-size:12px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#heading{
    padding-top:8%;
    font-size:24px;
    font-weight:bold;
}

.wrapper {
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  text-align: center;
  height:100%;
  width:100%;
}

.container-fluid{
    height:100%;
    width:100%;
    margin-bottom:10px;
}

.page-header{
    padding:10px;
    height:20%;
    color:white;
}

.wrapper > * {
  flex: 1 100%;
}

.main {
  text-align:left;
  background: #1b0404;
  height:100%;
  padding: 10px 10px 10px 10px;
}

.chat-messages{
    width:100%;
    height:100%;
    overflow-y:scroll;
    padding:10px;
    background-color:white;
}

.chat-messages,
.chat textarea {
    border:1px solid #bbb;
    outline:none;
}

.input-group-addon{
    cursor: pointer;
}

.chat textarea{
    width:100%;
    padding:10px;
    border-top:0;
    margin:0;
    max-width:100%;
    overflow-y:scroll;
    margin-bottom:10px;
}

.footer{
  background: #120200;
  color:white;
  font-weight:bold;
}


#chat{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch;
}

#start-chat{
    font-weight:bold;
    color:blue;
    text-decoration:underline;
    cursor: pointer;
}

textarea {
    font: 13px "Trebuchet MS", sans-serif;
}


.flexbox-item-grow
{
    flex: 1; /* same as flex: 1 1 auto; */
}

#colChatMessages{
    height:100%;
}

.bold-text{
    font-weight:bold;
}

#messagesArea{
    margin-top:5px;
}

#upload-input {
   opacity: 0;
   position: absolute;
   z-index: -1;
   display:none;
}

.glyphicon {
  font-size: 3em;
  color: #9CA3A9;
}

#send {
  color: #ffffff;
  background-color: #F89406;
  border: none;
  cursor: pointer;
}

#leave{
  color: #ffffff;
  background-color: #d91010;
  border: none;
  cursor: pointer; 
}


.aside{
    margin-top:10px;
}

.aside-1 {
  background: gold;
}

.aside-2 {
  background: hotpink;
}

.fill{
    flex:1;
}

.flexbox-parent {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}


@media all and (min-width: 600px) {
  .aside {
    flex: 1 auto;
  }

  .home-message{
    font-size:24px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  #heading{
    padding-top:8%;
    font-size:50px;
    font-weight:bold;
 }
}
@media all and (min-width: 800px) {

   .home-message{
    font-size:24px;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
  }

  #heading{
    padding-top:8%;
    font-size:50px;
    font-weight:bold;
  }
  .main {
    flex: 8;
  }

  .aside-1 {
    order: 1;
  }

  .main {
    order: 2;
  }

  .aside-2 {
    order: 3;
  }

  .footer{
      order:4;
  }
}
